{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Page Produits </h1>

    <table class="product-list">
        <thead>
            <tr>
                <th> #</th>
                <th> Nom</th>
                <th>Description</th>
                <th>Marque</th>
                <th>Slug</th>
                <th>Date de création</th>
            </tr>
        </thead>
        <tbody>
        {% for prod in products %}
           <tr>
              <td>{{prod.id}}</td>
              <td>{{prod.name}}</td>
              <td>{{prod.description}}</td>
              <td>{{prod.brand|length}}</td>
              <td>{{prod.slug}}</td>
              <td>{{prod.getCreatedAt()| date('d/m/Y')}}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table><br>

</div>
{% endblock %}
